/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/app/*
!/storage/app/.gitkeep
!/storage/app/public/.gitkeep
/storage/framework/cache/data/*
!/storage/framework/cache/data/.gitkeep
/storage/framework/sessions/*
!/storage/framework/sessions/.gitkeep
/storage/framework/testing/*
!/storage/framework/testing/.gitkeep
/storage/framework/views/*
!/storage/framework/views/.gitkeep
/storage/logs/*
!/storage/logs/.gitkeep
/storage/pail
/vendor
.env
.env.backup
.env.production
.env.local
.env.*.local
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
*.log
.DS_Store
Thumbs.db
Homestead.json
Homestead.yaml

# Local development and sub-folder exclusions
/Admin
check_barcodes.php
